p{
    background-color: aqua;
}
/* opacity untuk background colour */
.info{
    background-color: rgb(255, 103,  100, 0.5);
} 
#italic-format{
    background-color: yellow;
    opacity: 0.3;
}
.bgweb{
    background-color: grey;
}

h1{
    background-image: url("/image/Terrorblade.jpg");
    background-repeat: no-repeat;
}

a:link {
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: brown;
}
a:active{
    color: violet;
}

.tb{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 60px;
}

.borderline{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.kotak{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.bulet{
    border-image: round;
}
